{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
  <h1>KELSA</h1>
  <p>Peer - Peer On Demand Talent</p>
  <form>
    <div class="input-group">
      <div class="input-group-btn">
        <div class="col-md-6">
          <button type="button" class="btn btn-default btn-lg"><a href="{{ url_for('job_seeker') }}">Job Seeker</a></button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-default btn-lg"><a href="{{ url_for('job_poster') }}">Job Poster</a></button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>ABOUT</h2>
      <h4>Hyperlocal On Demand Talent</h4><br>
      <p>A pool of your local talent for your everyday needs - because we believe in a shared economy :).</p><br>
      <br><button class="btn btn-default btn-lg">Join The Network</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo"></span>

    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid bg-grey text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-usd logo-small"></span>
      <h4>TRANSPARENT PRICING</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-user logo-small"></span>
      <h4>ON DEMAND TALENT</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4>VERIFIED VENDORS</h4>
    </div>
  </div>
  <br><br>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Santa Clara, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> +1 3123838778</p>
      <p><span class="glyphicon glyphicon-envelope"></span> a4gowda@gmail.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}