{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
  <h1>KELSA</h1>
  <p>Peer - Peer On Demand Talent</p>
  <form>
    <div class="input-group">
      <div class="input-group-btn">
        <div class="col-md-6">
          <button type="button" class="btn btn-default btn-lg"><a href="{{ url_for('job_seeker') }}">Job Seeker</a></button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-default btn-lg"><a href="{{ url_for('job_poster') }}">Job Poster</a></button>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="services" class="container-fluid text-center">
  <h2>JOB POSTER</h2>
  <h4>Find your next gig</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <i class='fas fa-tasks' style='font-size:48px;color:blue'></i>
      <h4>DESCRIBE YOUR TASK</h4>
    </div>
    <div class="col-sm-4">
      <i class='fas fa-user-friends' style='font-size:48px;color:orange'></i>
      <h4>MATCH WITH LOCAL TASKER</h4>
    </div>
    <div class="col-sm-4">
      <i class='far fa-thumbs-up' style='font-size:48px;color:green'></i>
      <h4>GET IT DONE!</h4>
    </div>
  </div>
  <br><br>
</div>


<div id="services" class="container-fluid bg-grey text-center">
  <h2>JOB SEEKERS</h2>
  <h4>Find your next gig</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <i class='fas fa-edit' style='font-size:48px;color:blue'></i>
      <h4>LIST SKILLS</h4>
    </div>
    <div class="col-sm-4">
      <i class='fas fa-business-time' style='font-size:48px;color:orange'></i>
      <h4>SCHEDULE AVAILABILITY</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-usd logo-small" style='font-size:48px;color:green'></span>
      <h4>GET A GIG!</h4>
    </div>
  </div>
  <br><br>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Santa Clara, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> +1 3123838778</p>
      <p><span class="glyphicon glyphicon-envelope"></span> a4gowda@gmail.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
