<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Kelsa</title>
   <link rel="stylesheet" href="{{ url_for('static',  filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">Job Type : {{job_type}}</h1>
        <form method="post" action="/thank_you_poster">

          <h2>
            <input type="submit" name="post_job" value="Post Job">
          </h2>
            </div>
        </form>

      </div>

    </header>
    {% block content %}
    {% endblock %}
 </body>
</html>
