<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Kelsa</title>
   <link rel="stylesheet" href="{{ url_for('static',  filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">Job Type : {{job_type}}</h1>

          <form action="/job_detail/{{job_type}}" method="post" novalidate>
              {{ form.hidden_tag() }}
              <p>
                  {{ form.job_description.label }}<br>
                  {{ form.job_description(size=32) }}
              </p>
              <p>{{ form.post_job() }}</p>
          </form>
          
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}

      </div>

    </header>
    {% block content %}
    {% endblock %}
 </body>
</html>
