{% extends "base.html" %}

{% block content %}

<div class="jumbotron text-center">
  <h1>Well that's a job done!</h1>
  <h2>We would like to know how well though...</h2>
</div>

<div id="services" class="container-fluid text-center">
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <i class='far fa-frown' style='font-size:48px;color:red'></i>
    </div>
    <div class="col-sm-4">
      <i class='far fa-meh' style='font-size:48px;color:orange'></i>
    </div>
    <div class="col-sm-4">
      <i class='far fa-smile' style='font-size:48px;color:green'></i>
    </div>
  </div>
  <br><br>
</div>



    {% endblock %}
